@import "../../App.scss";

.product-item{
    position: relative;
    border-radius: 8px;
    box-shadow: rgba(50, 50, 93, 0.05) 0px 2px 5px -1px, rgba(0, 0, 0, 0.05) 0px 1px 3px -1px;
    transition: $transition-ease;

    // &::before {
    //     content: "";
    //     position: absolute;
    //     width: 60%;
    //     height: 150%;
    //     background-image: linear-gradient(90deg, #000000, #ff0000);
    //     top: 50%;
    //     left: 50%;
    //     transform: translate(-50%, -50%);
    //     animation: rotate 3s linear infinite;
    //     animation-play-state: paused;
    //     opacity: 0;
    //     transition: opacity 0.3s ease;
    // }

    // .bg {
    //     position: absolute;
    //     inset: 4px;
    //     &::before {
    //         background-color: rgba($color: #000000, $alpha: 0);
    //     }
    // }

    // &:hover .product-item .bg::before {
    //     background-color: rgba($color: #000000, $alpha: 0.6);
    // }

    .category{
        position: absolute;
        left: -5px;
        top: 1.6rem;
        background-color: $cl-green;
        color: $cl-white;
        font-size: 13px;
        text-transform: capitalize;
        padding: 0.2rem 1rem;
        box-shadow: rgba(0, 0, 0, 0.05) 0px 1px 2px, rgba(0, 0, 0, 0.24) 0px 1px 2px;

        &::after{
            position: absolute;
            content: "";
            left: 0;
            top: 100%;
            transform: translateY(-5px);
            width: 0;
            height: 0;
            border-top: 5px solid transparent;
            border-bottom: 5px solid transparent;
            border-right: 5px solid $cl-green;
        }
    }

    &-img{
        padding-bottom: 4px;
        margin-bottom: 12px;
        height: 250px;
        overflow: hidden!important;
        border-top-left-radius: 8px;
        border-top-right-radius: 8px;
    }

    &-info{
        padding: 0 12px 20px 12px;
        text-align: center;
        font-family: $font-family-manrope;
        opacity: 0.8;

        .brand{
        border-bottom: 1px solid rgba(0, 0, 0, 0.05);
        padding-bottom: 0.6rem;
        height: 50px;
            span{
                &:first-child{
                    margin-right: 3px;
                }
            }
        }
        .title{
            height: 50px;
            font-size: 14.5px;
            font-weight: 500;
            letter-spacing: 0.3px;
        }
        .price{
            position: relative;
            .old-price{
                opacity: 0.7;
                text-decoration: line-through;
                font-size: 12px;
            }
            .new-price{
                margin: 0 1rem;
                font-weight: 700;
                font-size: 16px;
            }
            .discount{
                font-size: 13px;
                font-weight: 600;
                font-family: $font-family-poppins;
                color: darken($cl-green, 5%);
            }

            &::after{
                content: "";
                position: absolute;
                top: calc(100% + 6px);
                height: 1px;
                background-color: lighten($cl-green, 10%);
                width: 60px;
            }
        }
    }

    &:hover{
        box-shadow: rgba(50, 50, 93, 0.1) 0px 2px 5px -1px, rgba(0, 0, 0, 0.1) 0px 1px 20px -1px;
    }
}