@import "../../App.scss";

.header{
    color: $cl-white;
    background-color: $cl-green;
    .header-cnt{
        .header-top{
            border-bottom: 1px solid lighten($cl-green, 10%);
            @include flex(center, space-between);
            font-size: 13px;
            padding: 8px 0;
            ul{
                @include flex(center, space-between);
            }

            i{
                margin: 0 6px
            }

            .header-cnt-l{
                .follow{
                    @include flex(center, space-between);
                }
            }
        }
    }
    

    @media screen and (max-width: 992px){
        .header-top{
            flex-direction: column;
            .header-cnt-top-l{
                margin-bottom: 4px;
            }
        }
    }
}