@import "../../App.scss";

.footer{
    background-color: $cl_green ;

    .container{
        text-align: center;
        
        .content{
            @include flex(center,center);
            color: $cl-white;
            font-weight: 300;
            font-size: 14px;
        }
    }

    .copyright-text{
        display: block;
        margin-top: 0.7rem;
    }
}