@import "../../App.scss";

.slider-wrapper{
    margin: 32px 0;
}
.main-content{
    background-color: $cl-whitesmoke;
    min-height: 100vh;
}
.categories{
    padding: 10px 0;
    .categories-item{
        margin-bottom: 4.8rem!important;

        .title-md{
            margin-bottom: 2.8rem;
        }
    }
}